body {
    margin: 0;
    padding: 0;
    background: white url("images/background.jpg") no-repeat;
    background-size: cover;
}

li a {
    color: green;
    font-size: 2rem;
    text-decoration: none;
}
